.app-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-container {
  padding: 20px;
  background: linear-gradient(45deg,rgb(183, 192, 60), rgb(147, 153, 155));
}

.heading {
  margin-top: 0;
  font-size: 35px;
}

.display {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 20px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif; 
}

.display li {
  padding: 10px;
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

.display li:last-child {
  border-bottom: none;
  list-style-type: none;
}

.prev-button {
  margin-right: 10px;
  background-color: red;
}

.next-button {
  margin-left: 10px;
  background-color: green;
}
